html, body {
  height: 100%; 
}

.author-name, 
.author-email {
  text-align: left; 
  margin-left: 5px; 
}

.author-meta {
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}